<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>后台添加SPU</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/js/layuiadmin/layui/css/layui.css}" media="all">
</head>
<body>
<div style="padding: 20px">
    <div>
        <div>
            <form class="layui-form" style="text-align: center" lay-filter="test">
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">商品名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="spuName" lay-verify="required" placeholder="商品名"
                               class="layui-input"
                               style="width: 280px" required>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">商品描述</label>
                    <div class="layui-input-inline">
                        <input type="text" name="spuDesc" lay-verify="required" placeholder="商品描述"
                               class="layui-input"
                               style="width: 280px" required>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">默认sku</label>
                    <div class="layui-input-inline">
                        <input type="text" name="spuDesc" lay-verify="required" placeholder="默认sku"
                               class="layui-input"
                               style="width: 280px" required>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline">
                        <input type="text" name="spuPrice" lay-verify="required" placeholder="价格"
                               class="layui-input"
                               style="width: 280px" required>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">消息</label>
                    <div class="layui-input-inline">
                        <input type="text" name="spuMsg" lay-verify="pMsg" placeholder="消息"
                               class="layui-input"
                               style="width: 280px">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-bottom: 10px;margin-top: 10px">
                    <label class="layui-form-label">商品图片</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload-drag" id="previewImg" style="width: 220px;height: 50px">
                            <img src="" alt="" id="pImg">
                        </div>
                        <input type="file" name="pim" id="pim" style="display: none" accept="image/*">
                    </div>
                </div>
                <div style="width: 100%">
                    <button type="button" class="layui-btn layui-btn-normal" style="width: 285px;
                        text-align: center;margin-left: 60px" lay-submit lay-filter="spuForm">提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/static/js/layui/layui.js}"></script>
<script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
</body>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        /*预览图片*/
        $('#previewImg').click(function () {
            layer.msg("选择图片")
            $('#pim').click();
            $('#pim').change(function () { //点击改变图片的src 从而实现预览图片的功能
                layer.msg("改变了时候可以拿到img文件")
                let file = this.files[0];
                imgPreview(file, $('#pImg')[0]);
                layer.msg("改变了")
            });

        })
        $(function () {
            form.on('submit(spuForm)', function (data) {
                console.log(data.elem); //得到checkbox原始DOM对象
                console.log(data.elem.checked); //是否被选中，true或者false
                console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                console.log(data.othis); //得到美化后的DOM对象
                console.log(data.field); //得到当前表单全部字段
                console.log(data.form); //得到当前表单全部字段
                let formData = new FormData(data.form);
                $.ajax({
                    url: "/spu/addSpu",
                    contentType: false,//传递的东西有很多种数据格式的时候 写false
                    data: formData,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            layer.msg("添加成功！", {
                                icon: 1,
                                time: 1000 //显示时间
                            }, function () {
                                //先得到当前ifame层得索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭弹出层
                                parent.layer.close(index);
                                //更新父级页面
                                parent.location.reload();
                                //跳转  目前问题 加上这个日期空间选择不了
                                // parent.location.hre=/login.html；
                            });
                        }else {
                            layer.msg("添加失败")
                        }
                    },
                    type: 'post',
                })
            })

        })


    })

    //图片上传预览功能，file：指的是文件，img指的是js dom对象q("#id")[0]
    function imgPreview(file, imgDom) {
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            layer.msg("您的设备不支持图片预览功能，如需使用该功能请升级您的设别");
        }
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            layer.msg("请选择图片！")
            return;
        }
        //读取完成
        reader.onload = function (e) {
            //获得图片dom
            //图片路径设置为读取的图片
            imgDom.src = e.target.result;
        };
        reader.readAsDataURL(file)
    }


</script>
</html>