<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/js/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/zone.css" />
		<title>中心</title>
	</head>
	<body>
		<div class="header">
			<div class="header_main container clearfix">
				<a href="index.html" class="clearfix fl">
					<div class="logo fl"></div>
				</a>
				<div class="header_nav fr clearfix">
					<a href="index.html">首页</a>
					<a href="details.html">Mate 20 Pro</a>
					<a href="details.html">Mate 20 X</a>
					<a href="details.html">Mate 20</a>
					<a href="login.html" class="login"><img class="" src="/static/img/zone/loginIcon.png"><span style="margin-left: 5px;">登录</span></a>
					<a href="register.html" class="register">注册</a>
				</div>
			</div>
		</div>

		<div class="banners">
			<a href="details.html">
				<div class="banner1"></div>
			</a>
			<a href="details.html">
				<div class="banner2"></div>
			</a>
			<a href="details.html">
				<div class="banner3"></div>
			</a>
			<a href="details.html">
				<div class="banner4"></div>
			</a>
		</div>
		<a href="details.html">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">
						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">
						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">

						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">

						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</a>
		<a href="details.html">
			<div class="banner5"></div>
		</a>
		<a href="details.html">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">
						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">
						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">

						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">

						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</a>
		<a href="details.html">
			<div class="banner6"></div>
		</a>
		<a href="details.html">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">
						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">
						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000086.png">

						<p class="slide_title">荣耀智慧屏系列</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000087.png">

						<p class="slide_title">华为手环4e 篮球精灵</p>
						<p class="slide_price">￥129</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000088.png">

						<p class="slide_title">荣耀平板5 10.1英寸</p>
						<p class="slide_price">￥1199</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000089.png">

						<p class="slide_title">HUAWEI FreeLace 无线耳机</p>
						<p class="slide_price">￥3799</p>
					</div>
					<div class="swiper-slide">
						<img class="slide_img" src="/static/img/index/ia_100000090.png">

						<p class="slide_title">HUAWEI WATCH GT活力款</p>
						<p class="slide_price">￥1488</p>
					</div>
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</a>
		<a href="details.html">
			<div class="banner7"></div>
		</a>
		<a href="details.html">
			<div class="banner8"></div>
		</a>
		<a href="details.html">
			<div class="banner9"></div>
		</a>
		<div class="recommended container">
			<ul class="clearfix">
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000055.png">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000056.png">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000057.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000058.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000059.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000060.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000061.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000062.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
				<li class="recommended_item fl">
					<a href="details.html">
						<img src="/static/img/zone/ia_100000063.jpg">
						<div class="recommended_more">
							<p class="recommended_name">华为畅享9S</p>
							<p class="recommended_msg">2400万超广角三摄 6.21英寸珍珠屏</p>
							<p class="recommended_discounts">最高领券减200</p>
							<p class="recommended_price">￥1499起</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<a href="details.html">
			<div class="banner10 container">

			</div>
		</a>
		<div class="footer container clearfix">
			<a href="details.html">
				<div class="footer_left fl">华为专区</div>
			</a>
			<div class="footer_right fl">返回顶部</div>
		</div>
		<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
				slidesPerView: 5,
				spaceBetween: 10,
				slidesPerGroup: 1,
				loop: true,
				loopFillGroupWithBlank: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
			$(".footer_right").click(function() {
				$("html,body").animate({
					scrollTop: 0
				});
			});
		</script>
	</body>
</html>
