<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.hw_shopping.mapper.CarouselMapper">
    <resultMap id="baseResultMap" type="com.huawei.hw_shopping.model.Carousel">
        <id property="carouselId" column="CAROUSEL_ID"/>
        <result property="carouselUrl" column="CAROUSEL_URL"/>
        <result property="redirectUrl" column="REDIRECT_URL"/>
        <result property="carouselRank" column="CAROUSEL_RANK"/>
        <result property="isDeleted" column="IS_DELETED"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
    </resultMap>

    <select id="selectAll"  resultMap="baseResultMap">
        select CAROUSEL_ID,CAROUSEL_URL,REDIRECT_URL,CAROUSEL_RANK,CREATE_TIME,UPDATE_TIME from HW_SHOPPING_CAROUSEL order by CAROUSEL_RANK desc
    </select>

    <select id="selectAllCount"  resultType="integer">
        select count(CAROUSEL_ID) from HW_SHOPPING_CAROUSEL
    </select>

    <select id="selectCarousel"  resultMap="baseResultMap">
        select CAROUSEL_ID,CAROUSEL_URL,CAROUSEL_RANK from HW_SHOPPING_CAROUSEL order by CAROUSEL_RANK desc
    </select>
</mapper>