<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.hw_shopping.mapper.SkuMapper">
    <resultMap id="baseResultMap" type="com.huawei.hw_shopping.model.Sku">
        <id property="skuId" column="SKU_ID"/>
        <result property="spuId" column="SPU_ID"/>
        <result property="spuName" column="SPU_NAME"/>
        <result property="skuColor" column="SKU_COLOR"/>
        <result property="skuVersion" column="SKU_VERSION"/>
        <result property="skuService" column="SKU_SERVICE"/>
        <result property="skuPrice" column="SKU_PRICE"/>
        <result property="skuDate" column="SKU_DATE"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="isHot" column="IS_HOT"/>
        <result property="skuSort" column="SKU_SORT"/>
        <result property="skuDesc" column="SKU_DESC"/>
        <result property="skuFlag" column="SKU_FLAG"/>
        <result property="cid" column="CID"/>
        <result property="skuStock" column="SKU_STOCK"/>
        <result property="skuDetails" column="SKU_DETAILS"/>
        <result property="deleteFlag" column="DELETEFLAG"/>
    </resultMap>

    <select id="selectAllSku" resultMap="baseResultMap">
        select SKU_ID,SPU_ID,SKU_COLOR,SKU_VERSION,SKU_SERVICE
                SKU_PRICE,SKU_DATE,UPDATE_TIME,IS_HOT,SKU_SORT,
                SKU_DESC,SKU_FLAG,CID,SKU_STOCK,SKU_DETAILS,DELETEFLAG
                                                    from HW_SHOPPING_SKU
    </select>
    <select id="selectAllCount" resultType="integer">
        select count(SKU_ID) from HW_SHOPPING_SKU
    </select>

</mapper>
