<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>尾</title>
</head>
<body>
<!-- 以下为footer -->
<div class="footer" th:fragment="footer-fragment">
    <div class="footer_top container clearfix">
        <div class="top_item fl">
            <a href="">
                <span class="ver_mid">百强企业 品质保证</span>
            </a>
        </div>
        <div class="top_item fl">
            <a href="">
                <span class="ver_mid">7天退货 15天换货</span>
            </a>
        </div>
        <div class="top_item fl">
            <a href="">
                <span class="ver_mid">48元起免运费</span>
            </a>
        </div>
        <div class="top_item fl">
            <a href="">
                <span class="ver_mid">1000家维修网点 全国联保</span>
            </a>
        </div>
    </div>
    <div class="footer_mid container clearfix">
        <div class="mid_left fl">
            <ul class="clearfix" style="border-right: 1px solid lightgray;">
                <li>
                    <p>购物相关</p>
                    <a href="">购物指南</a>
                    <a href="">配送方式</a>
                    <a href="">支付方式</a>
                    <a href="">常见问题</a>
                </li>
                <li>
                    <p>保修与退换货</p>
                    <a href="">保修政策</a>
                    <a href="">退换货政策</a>
                    <a href="">退换货流程</a>
                    <a href="">保修状态查询</a>
                    <a href="">配件方位查询</a>
                </li>
                <li>
                    <p>维修与技术支持</p>
                    <a href="">售后网点</a>
                    <a href="">预约维修</a>
                    <a href="">手机寄修</a>
                    <a href="">备件价格查询</a>
                    <a href="">上门服务</a>
                </li>
                <li>
                    <p>特色服务</p>
                    <a href="">防伪查询</a>
                    <a href="">补够保障</a>
                    <a href="">以旧换新</a>
                    <a href="">礼包包装</a>
                </li>
                <li>
                    <p>关于我们</p>
                    <a href="">公司介绍</a>
                    <a href="">商城简介</a>
                    <a href="">线下门店</a>
                    <a href="">诚征英才</a>
                    <a href="">意见反馈</a>
                </li>
                <li>
                    <p>友情连接</p>
                    <a href="">集团</a>
                    <a href="">CBG官网</a>
                    <a href="">官网</a>
                    <a href="">花粉俱乐部</a>
                </li>
            </ul>

        </div>
        <div class="mid_right fl">
            <p class="footer_mid_tel">400-088-6888</p>
            <p class="footer_mid_serve">7x24小时客服热线（仅收市话费）</p>
            <a class="online_serve" href="">在线客服</a>
            <div class="link_more">
                <span>关注Xmall:</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>