

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/js/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/js/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/js/layuiadmin/style/login.css" media="all">
</head>
<body>
<form action="" method="post">
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;
    background-color: white">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="yzm"></label>
                    <input type="text" name="mobile" lay-verify="mobile" placeholder="请输入注册时的手机"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="yzm"></label>
                    <input type="password" name="password" lay-verify="pass" lay-verType="tips"
                           id="LAY_password" class="layui-input" placeholder="新密码">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="yzm"></label>
                    <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off"
                            class="layui-input" placeholder="确认新密码">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="yzmBtn"></label>
                            <input type="text" name="yzm" id="yzm" placeholder="短信验证码"
                                   class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <button class="layui-btn layui-btn-primary layui-btn-fluid"
                                        id="yzmBtn" lay-submit="" lay-filter="sendEmail">获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="submitForm" id="submitForm">找回密码
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

  <script src="/static/js/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/js/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set']);
  </script>
</body>
</html>