<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付</title>
</head>
<body>
<form action="/pay/toPay" method="post">
    商品单号：
    <input type="text" name="out_trade_no"><br><br>
    名称：
    <input type="text" name="subject"><br><br>
    金额：
    <input type="text" name="totol_amount"><br><br>
    商品描述：
    <input type="text" name="body"><br><br>
    支付超市时间：
    <input type="text" name="timeout_express"><br><br>
    状态码：
    <input type="text" name="product_code"><br><br>

    <input type="submit" value="提交">
</form>
</body>
</html>