<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/my-order.css" />
	</head>
	<body>
		<!-- 顶部nav -->
		<div class="top_nav_outbox">
			<div class="top_nav container clearfix">
				<div class="left_nav fl relative">
					<a href="index.html">首页</a>
					<a href="">华为官网</a>
					<a href="">荣耀官网</a>
					<a href="">花粉俱乐部</a>
					<a href="">V码(优购码)</a>
					<a href="">企业购</a>
					<a href="">Select Region</a>
					<a href="">更多精彩>></a>


				</div>
				<div class="right_nav fr">
					<a href="login.html" style="border: 0;">请登录</a>
					<a href="register.html">注册</a>
					<a href="member-my-order.html">我的订单</a>
					<a href="">客户服务</a>
					<a href="">网站导航</a>
					<a href="">手机版</a>
					<a href="shopping-trolley.html" style="border: 0;">
						<img style="height: 16px; vertical-align: middle;" src="img/index/Shopping_Cart_32px_1178620_easyicon.net.png">
						<span class="ver_mid"></span>购物车
					</a>
				</div>
			</div>

		</div>
		<!-- Header -->
		<div class="header-outbox">
			<!-- Header -->
			<div class="header clearfix container">
				<div class="header_left fl clearfix">
					<a href="" class="fl">
						<div class="logo ver_mid"></div>
					</a>
					<div class="zone pink"><a href="zone.html" style="color: white;">华为专区</a></div>
					<div class="zone sklBlue"><a href="zone.html" style="color: white;">荣耀专区</a></div>
					<div class="zone"><a href="zone.html">华为5G</a></div>
					<div class="zone"><a href="zone.html">荣耀20</a></div>
					<div class="zone"><a href="zone.html">华为P30</a></div>
					<div class="zone"><a href="zone.html">荣耀9X</a></div>
				</div>
				<div class="header_right fr">
					<!-- 搜索框待定 -->
					<form class="header_form clearfix relative">
						<input class="fl " type="text" name="" id="search_box" value="" placeholder="HUAWEI P30" />
						<a href="product-list.html"><span id="search_btn"></span></a>
					</form>

				</div>
			</div>

		</div>

		<div class="Member_contanier">
			<!-- 面包屑 -->
			<div class="breadcrumb-area">
				<a href="index.html">首页</a>
				&nbsp;&gt;&nbsp;
				<a href="Member-Center .html">
					<span class="personCenter">
						我的商城
					</span>
				</a>
				&nbsp;&gt;&nbsp;
				<span class="personCenter">
					站内信
				</span>
			</div>

			<div class="Member_content clearfix">
				<!-- 左边菜单 -->

				<div class="Left_MyShop fl">
					<div class="Left_MyShop fl">
						<div class="menu-area">
							<div class="head">
								<a href="/Member-Center .html">
									<span>我的商城</span>
								</a>
							</div>
							<div class="bottom">
								<ul>
									<!-- 我的消息 -->
									<li>
										<h3 class="icon-mail">
											<span>我的消息</span>
										</h3>
										<ol>
											<li>
												<a href="member-message-center.html">
													<span class="li-msg" style="color: #cf0a2c;">
														消息中心
														<em></em>
													</span>
												</a>
											</li>
											<li>
												<a href="member-news-order.html">
													<span class="marketIDD">
														营销消息订阅
														<em></em>
													</span>
												</a>
											</li>
										</ol>
									</li>
									<!-- 订单中心 -->
									<li>
										<h3 class="icon-order">
											<span>订单中心</span>
										</h3>
										<ol>
											<li>
												<span class="li-msg">
													<a href="member-my-order.html">
														我的订单<em></em>

													</a>
												</span>
											</li>

											<li class="li-exchange">
												<a href="member-my-order.html">
													<span class="">
														我的退换货
													</span>
												</a>
											</li>

											<li class="li-refunds">
												<a href="member-my-order.html">
													<span class="">
														我的退款
													</span>
												</a>
											</li>

											<li class="li-recover">
												<a href="member-my-order.html">
													<span class="">
														我的回收单
													</span>
												</a>
											</li>

											<li class="li-remark">
												<a href="member-my-order.html">
													<span class="">
														商品评价
													</span>
												</a>
											</li>
										</ol>
									</li>
									<!-- 我的资产 -->
									<li>
										<h3 class="icon-asset">
											<span>我的资产</span>
										</h3>
										<ol>
											<li class="li-newpoint">
												<a href="#">
													<span class="">
														我的积分
													</span>
												</a>
											</li>

											<li class="li-coupon">
												<a href="#">
													<span class="">
														我的优惠券
													</span>
												</a>
											</li>

											<li class="li-balance">
												<a href="#">
													<span class="">
														我的代金券
													</span>
												</a>
											</li>

											<li class="li-petal">
												<a href="#">
													<span class="">
														我的花瓣
													</span>
												</a>
											</li>

											<li class="li-remark">
												<a href="#">
													<span class="">
														等级与权力
													</span>
												</a>
											</li>
										</ol>
									</li>
									<!-- 购买支持 -->
									<li>
										<h3 class="icon-support">
											<span>购买支持</span>
										</h3>
										<ol>
											<li class="li-mydress">
												<a href="member-delivery-address.html">
													<span class="">
														收货地址管理
													</span>
												</a>
											</li>

											<li class="li-authentication">
												<a href="#">
													<span class="">
														实名认证
													</span>
												</a>
											</li>

											<li class="li-appointment">
												<a href="#">
													<span class="">
														我的预约
													</span>
												</a>
											</li>

											<li class="li-notification">
												<a href="#">
													<span class="">
														到货通知
													</span>
												</a>
											</li>

											<li class="li-easybuy">
												<a href="#">
													<span class="">
														我的优享受购
													</span>
												</a>
											</li>
										</ol>
									</li>
									<!-- 帮助中心 -->
									<li>
										<h3 class="icon-help">
											<a href="#" target="_blank">
												<span>帮助中心</span>
											</a>
										</h3>
									</li>
								</ul>
							</div>
						</div>
					</div>


				</div>

				<!-- 右边 -->
				<div class="right fl">
					<div class="center">
						<span>消息中心</span>
					</div>
					<div class="link">
						<span class="l1">站内信</span>
						<span class="l2">互动消息</span>
					</div>
					<div class="title">
						<span class="cn1">类型</span>
						<span class="cn2">标题</span>
						<span class="cn3">时间</span>
						<span class="cn4">操作</span>
					</div>
					<div class="content">
						<div class="content1">
							<div class="item">
								<i class="icon icon1"></i>
								<span class="cn1">通知</span>
								<a href=""><span class="cn2">荣耀年货节，超值年货礼包限量送</span></a>
								<span class="cn3">2019-01-07 17:15:29</span>
							</div>
							<div class="item">
								<i class="icon icon1"></i>
								<span class="cn1">通知</span>
								<a href=""><span class="cn2">荣耀年货节，超值年货礼包限量送</span></a>
								<span class="cn3">2019-01-07 17:15:29</span>
							</div>
							<div class="item">
								<i class="icon icon1"></i>
								<span class="cn1">通知</span>
								<a href=""><span class="cn2">荣耀年货节，超值年货礼包限量送</span></a>
								<span class="cn3">2019-01-07 17:15:29</span>
							</div>
							<div class="item">
								<i class="icon icon1"></i>
								<span class="cn1">通知</span>
								<a href=""><span class="cn2">荣耀年货节，超值年货礼包限量送</span></a>
								<span class="cn3">2019-01-07 17:15:29</span>
							</div>
						</div>
						<div class="content1">
							<p>对不起，你暂时没有互动消息</p>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- footer -->
		<div class="footer-outbox">
			<!-- 以下为footer -->
			<div class="footer">
				<div class="footer_top container clearfix">
					<div class="top_item fl">
						<a href="">
							<span class="ver_mid">百强企业 品质保证</span>
						</a>
					</div>
					<div class="top_item fl">
						<a href="">
							<span class="ver_mid">7天退货 15天换货</span>
						</a>
					</div>
					<div class="top_item fl">
						<a href="">
							<span class="ver_mid">48元起免运费</span>
						</a>
					</div>
					<div class="top_item fl">
						<a href="">
							<span class="ver_mid">1000家维修网点 全国联保</span>
						</a>
					</div>
				</div>
				<div class="footer_mid container clearfix">
					<div class="mid_left fl">
						<ul class="clearfix" style="border-right: 1px solid lightgray;">
							<li>
								<p>购物相关</p>
								<a href="">购物指南</a>
								<a href="">配送方式</a>
								<a href="">支付方式</a>
								<a href="">常见问题</a>
							</li>
							<li>
								<p>保修与退换货</p>
								<a href="">保修政策</a>
								<a href="">退换货政策</a>
								<a href="">退换货流程</a>
								<a href="">保修状态查询</a>
								<a href="">配件方位查询</a>
							</li>
							<li>
								<p>维修与技术支持</p>
								<a href="">售后网点</a>
								<a href="">预约维修</a>
								<a href="">手机寄修</a>
								<a href="">备件价格查询</a>
								<a href="">上门服务</a>
							</li>
							<li>
								<p>特色服务</p>
								<a href="">防伪查询</a>
								<a href="">补够保障</a>
								<a href="">以旧换新</a>
								<a href="">礼包包装</a>
							</li>
							<li>
								<p>关于我们</p>
								<a href="">公司介绍</a>
								<a href="">华为商城简介</a>
								<a href="">华为线下门店</a>
								<a href="">荣耀线下门店</a>
								<a href="">诚征英才</a>
								<a href="">意见反馈</a>
							</li>
							<li>
								<p>友情连接</p>
								<a href="">华为集团</a>
								<a href="">华为CBG官网</a>
								<a href="">荣耀官网</a>
								<a href="">花粉俱乐部</a>
								<a href="">华为云</a>
							</li>
						</ul>
		
					</div>
					<div class="mid_right fl">
						<p class="footer_mid_tel">400-088-6888</p>
						<p class="footer_mid_serve">7x24小时客服热线（仅收市话费）</p>
						<a class="online_serve" href="">在线客服</a>
						<div class="link_more">
							<span>关注Vmall:</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>


	<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript">

	</script>
	<script type="text/javascript">
		$('.link span').click(function() {
			var flag = $(this).hasClass("span1");
			if (!flag) {
				$(this).addClass('span1');
			}
			$(this).siblings("span").removeClass("span1")
		})

		// 选项卡
		$('.content1').eq(1).hide()
		$('.link span').click(function() {
			var num = $(this).index()
			$(' .content1').hide();
			$(' .content1').eq(num).show()

		})
	</script>
</html>
